/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: NautilusPompilus; src: url("fonts/nautilus.eot"); src: url("fonts/nautilus.eot?#iefix") format("embedded-opentype"), url("fonts/nautilus.woff") format("woff"), url("fonts/nautilus.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: HeliosCondensedBold; src: url("fonts/HeliosCondBold.eot"); src: url("fonts/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("fonts/HeliosCondBold.woff") format("woff"), url("fonts/HeliosCondBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: PFDinTextProRegular; src: url("fonts/PFDinTextProRegular.eot"); src: url("fonts/PFDinTextProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/PFDinTextProRegular.woff") format("woff"), url("fonts/PFDinTextProRegular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "PFDinTextProRegular", Arial, sans-serif; font-size: 16px; line-height: 1.4; color: #602d1d; }

a { text-decoration: none; }

.l-center { width: 940px; margin: 0 auto; padding: 0 10px; }

.header { background: #fff5de; }
.header .l-center { position: relative; height: 154px; }
.header .social { position: absolute; top: 72px; right: 10px; }

.logo { position: absolute; top: 30px; left: 415px; background: url('../img/icons-s01d0795f1c.png') 0 0 no-repeat; width: 120px; height: 91px; }

.nav { position: absolute; top: 88px; left: 10px; }
.nav a { float: left; margin-left: 30px; font-family: "HeliosCondensedBold", Arial, sans-serif; text-transform: uppercase; color: #602d1d; }
.nav a:first-child { margin: 0; }
.nav a.nav__margin { margin-right: 190px; }

.social { font-size: 0; }
.social > li { position: relative; display: inline-block; margin-left: 10px; vertical-align: top; }
.social > li:first-child { margin: 0; }
.social a { display: block; }
.social .social__fb { background: url('../img/icons-s01d0795f1c.png') 0 -284px no-repeat; width: 42px; height: 41px; }
.social .social__vk { background: url('../img/icons-s01d0795f1c.png') 0 -233px no-repeat; width: 42px; height: 41px; }
.social .social__mail { background: url('../img/icons-s01d0795f1c.png') 0 -182px no-repeat; width: 41px; height: 41px; }
.social .social__copy { background: url('../img/icons-s01d0795f1c.png') 0 -131px no-repeat; width: 41px; height: 41px; }
.social .social__copy:hover .social__copy-list { display: block; }
.social .social__copy-list { display: none; position: absolute; top: 77px; right: 0; padding: 12px 17px; background: #fff5de; font-size: 16px; white-space: nowrap; }
.social .social__copy-list li { margin-top: 10px; }
.social .social__copy-list li:first-child { margin: 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
