// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(NautilusPompilus, nautilus)  
=fn
	font-family: "NautilusPompilus", Arial, sans-serif 
+font(HeliosCondensedBold, HeliosCondBold)  
=fh
	font-family: "HeliosCondensedBold", Arial, sans-serif 
+font(PFDinTextProRegular, PFDinTextProRegular)  
=fd
	font-family: "PFDinTextProRegular", Arial, sans-serif 
	
$cl: #602d1d	
	
@mixin rt($media)
	@media only screen and (max-width: $media + "px")
		@content

body
	min-width: 980px
	+fd
	font-size: 16px 
	line-height: 1.4
	color: $cl 
a
	text-decoration: none

// common blocks     
.wrapper
	padding-top: 101px
 
.l-center
	width: 960px
	margin: 0 auto

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	padding: 30px 0
	background: #fff5de
	box-shadow: 0 1px 1px rgba(0,0,0,.2)
	z-index: 999
	.l-center
		position: relative
		+clr
	.social
		float: right
		margin-right: 10px

.logo
	position: absolute
	top: -30px
	left: 415px
	+s(logo)
	z-index: 4 

.nav
	float: left
	margin: 10px 0 0 10px
	z-index: 2 
	a
		float: left
		margin-left: 30px
		+fh
		text-transform: uppercase
		color: $cl
		&:first-child
			margin: 0
		&.nav__margin
			margin-right: 190px

.social
	font-size: 0
	>li
		position: relative
		display: inline-block
		margin-left: 10px
		vertical-align: top
		&:first-child
			margin: 0
	a
		display: block
	.social__fb
		+s(fb)
	.social__vk
		+s(vk)
	.social__mail
		+s(mail)
	.social__copy
		+s(copy)
		&:hover
			.social__copy-list
				display: block
	.social__copy-list	
		display: none
		position: absolute
		top: 71px
		right: 0
		padding: 5px 17px 12px
		background: #fff5de 
		box-shadow: 0 1px 1px rgba(0,0,0,.2)
		font-size: 16px
		white-space: nowrap
		li
			margin-top: 10px
			&:first-child
				margin: 0

.banner
	position: relative
	height: 304px
	background: url(../img/banner.jpg) no-repeat 50% 50%
	background-size: cover  
	.banner__link
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0 

.chips
	position: relative
	margin-top: -35px
	overflow: hidden
	.chips__container
		position: relative
		height: 1190px
		background: url(../img/chips-bg.png) repeat-x 0 0 
	.chips__container_extreme
		height: 640px
		margin-top: -35px
		padding-top: 120px
		.chips__item
			width: 300px
			margin-bottom: 0
		.chips__el
			display: inline-block
			vertical-align: top
		.chips__item_center
			margin: 0 30px
		.chips__item-title
			i
				background: #000 
	.chips__title
		padding: 100px 0 50px
		+fn
		color: #72502b
		font-size: 57px
		text-shadow: 0 2px 0 #fff
		text-align: center
	.chips__title-extreme
		padding: 70px 0 60px
		margin-top: -40px
		background: url(../img/chips-extreme-bg.png) 
		+fn
		font-size: 61px
		text-shadow: 1px 1px 0 rgba(115,85,59,.66)
		color: #fff
		text-align: center
	.chips__list
		margin: 0 -50px
		text-align: center
	.chips__item
		position: relative
		display: inline-block
		margin-bottom: 135px
		vertical-align: top
		z-index: 2 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			width: 150px
			height: 150px
			margin: -75px 0 0 -75px 
			border-radius: 50%
			box-shadow: 0 0 100px 10px $cl
			z-index: 2 
		&:hover
			.chips__el
				+scale(1.2)
			.chips__item-title
				+scale(1)
				opacity: 1 
	.chips__item_center
		margin: 0 120px
	.chips__item_7
		background: url(../img/chips7-bg.png) 
	.chips__item_8
		background: url(../img/chips8-bg.png) 
	.chips__item_9
		background: url(../img/chips9-bg.png) 
	.chips__el
		position: relative
		display: block
		+tr(all .2s linear)
		z-index: 4 
	@for $i from 1 through 9
		.chips__el_#{$i}
			+s(chips#{$i})
	.chips__item-title
		position: absolute
		bottom: -50px
		left: -50px
		opacity: 0
		+scale(.8)
		+tr(all .2s linear) 
		z-index: 4 
		i, span
			width: 190px
			height: 190px
		i
			position: absolute
			top: 0
			left: 0
			border-radius: 50%
			border: 3px solid #fff
			background-color: #fb0
			opacity: .74 
			z-index: 2 
		span
			position: relative
			display: table-cell
			vertical-align: middle
			color: #fff
			+fn
			font-size: 32px
			text-shadow: 1px 1px 1px rgba(211,161,62,.75)
			line-height: 1
			z-index: 4 
			
.vegitable
	position: absolute
	left: 50%
	&.vegitable_pepper
		top: 290px
		margin-left: -730px
		+s(pepper)
	&.vegitable_pepper-hot
		top: 70px
		margin-left: 470px
		+s(pepper-hot)
	&.vegitable_potatos
		top: 130px
		left: auto
		right: 0
		+s(potatos)
		+rt(1700)
			right: auto
			left: 50%
			margin-left: 450px 
	&.vegitable_potatos-double
		top: 260px
		margin-left: -650px
		+s(potatos-double)
	&.vegitable_potatos-box
		left: auto
		right: 0
		bottom: 0
		+s(potatos-box)
	&.vegitable_onion
		top: 770px
		margin-left: -620px
		+s(onion)
	&.vegitable_potatos-double-right
		+s(potatos-double-right)
		
.videos
	position: relative
	padding: 70px 0 170px
	background-image: url(../img/light-bg.png)
	background-attachment: fixed 
	overflow: hidden
	.videos__item
		position: relative
		margin-top: 70px
		&:first-child
			margin: 0
	.videos__head, .videos__foot
		position: relative
		z-index: 4 
	.videos__head
		padding: 4px 4px 0
		background: #FDF9EF 
	.videos__head-in
		padding: 55px 45px 0 
		border: 1px dashed #c2b0a1
		border-width: 1px 1px 0
	.video__content
		padding-top: 40px
		line-height: 1.2
		color: rgb(115,81,43)
	.video__title
		margin-bottom: 15px
		+fn
		font-size: 38px 
	.video__text
		+fh
	.videos__foot
		position: relative
		padding: 0 0 4px 4px
		margin-right: 65px
		background: #FDF9EF 
	.videos__foot-in
		height: 60px
		border: 1px dashed #c2b0a1
		border-width: 0 0 1px 1px
	.videos__foot-arr
		position: absolute
		right: -130px
		bottom: -30px
		+s(videos-arr)
	.videos__foot-shadow
		position: absolute
		bottom: -40px
		right: 0
		width: 860px
		height: 40px
		background: url(../img/videos-shadow.png) no-repeat 0 0 
	.vegitable_potatos-box
		position: fixed
		bottom: -50px
	.vegitable_pepper
		position: fixed
		top: auto
		bottom: 0
	.vegitable_pepper-hot
		position: fixed
		top: auto
		bottom: -40px
		margin-left: -200px
	.vegitable_potatos-double-right
		position: fixed
		top: 100px
		margin-left: 550px
	.vegitable_potatos-double
		position: fixed
		top: 170px

.action
	.action__banner
		position: relative
		height: 515px
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover  
		z-index: 2 
	.action__banner-link
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
	.action__archive
		text-align: center
	.action__foot	
		position: relative
		height: 230px
		padding-top: 170px
		margin-top: -40px
		background: url(../img/action-bg.png) repeat-x 0 0 
		overflow: hidden
		z-index: 4 
		.l-center
			position: relative
			z-index: 4 
		.vegitable_potatos-box
			bottom: -50px
		.vegitable_pepper
			top: auto
			bottom: -110px

.btn
	display: inline-block
	padding: 11px 37px 6px
	border-radius: 3px
	background-color: #f7f2e6
	box-shadow: inset -1px 3px 0 #fff
	border: 1px dashed #d9d1c6
	color: #a98968
	+fh
	font-size: 27px
	text-shadow: 0 1px 0 #fff
	vertical-align: top
	+tr(all .2s linear)
	&:hover
		background-color: #e0d6bf
	&.btn_small
		padding: 8px 13px 5px
		box-shadow: inset -1px 2px 0 #fff
		font-size: 18px

.slider
	position: relative
	height: 100vh
	min-height: 810px
	margin-top: -101px
	padding-top: 101px
	background: url(../img/light-bg.png)
	+box
	overflow: hidden
	&.slider_dark
		.slider__dark-bg
			display: block
		.vegitable_potatos-box 
			+sp(potatos-box-dark)
		.vegitable_potatos-double-right
			+sp(potatos-double-right-dark)
	.l-center
		position: relative
		+clr
		z-index: 6
	.slider__dark-bg
		display: none
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/dark-bg.jpg) 0 0
		background-size: auto 100% 
		z-index: 2 
	.slider__wrapper
		position: relative
		+clr
	.slider__container
		float: right
		width: 630px
		padding: 100px 65px 150px 0 
	.slider__head
		padding: 4px 4px 0
		background: #FFF
	.slider__head-in
		position: relative
		padding: 40px 75px 0 135px
		border: 1px dashed #c2b0a1
		border-width: 1px 1px 0
		line-height: 1.2
	.slider__item
		display: none
		&.is-active
			display: block
	.slider__title, .slider__text, .slider__weight, .btn
		position: relative
		z-index: 4 
	.slider__title
		margin-bottom: 20px
		+fn
		color: #df4f00
		color: rgba(223,79,1, 0.8)
		font-size: 50px
		text-shadow: 1px 1px 1px #def, 0 0 0 #000
		line-height: .8
	.slider__text	
		margin-bottom: 30px
		+fh
		color: #804a2f
		font-size: 18px
		text-shadow: 0 1px 0 #fff1e3
	.slider__weight
		margin-bottom: 20px
		+fh
		color: #814a2f
		font-size: 17px
		text-shadow: 0 1px 0 #fff1e3
		-webkit-font-smoothing: antialiased
	.slider__foot
		position: relative
		padding: 0 0 4px 4px
		margin-right: 65px
		background: #fff 
	.slider__foot-in
		height: 60px
		border: 1px dashed #c2b0a1
		border-width: 0 0 1px 1px
	.slider__foot-arr
		position: absolute
		right: -129px
		bottom: -30px
		+s(videos-arr)
	.slider__foot-shadow
		position: absolute
		bottom: -40px
		right: 0
		width: 515px
		height: 40px
		background: url(../img/slider-shadow.png) no-repeat 0 0 
	.slider__prev, .slider__next
		position: absolute
		top: 250px
		z-index: 6 
	.slider__prev
		left: 0
		+s(slider-prev)
	.slider__next
		right: 0
		+s(slider-next)
	.slider__pic
		position: absolute
		top: -120px
		left: -385px
		z-index: 2
		img
			display: block
	.vegitable
		z-index: 4 
	.vegitable_potatos-double-right
		top: 110px
		margin-left: 600px

.extreme
	background: url(../img/dark-bg.jpg) 0 0
	background-attachment: fixed 
	background-size: auto 100% 
	overflow: hidden
	.extreme__item
		position: relative
		z-index: 10
		.l-center
			position: relative
			height: 570px
	.extreme__item-in
		position: absolute
		left: 0
		right: 0
		bottom: 0
		overflow: hidden
	.extreme__content
		position: absolute
		text-align: center
		z-index: 4 
	.extreme__pic	
		position: absolute
	.extreme__logo, .extreme__title
		display: inline-block
		vertical-align: top
	.extreme__title
		margin-bottom: 20px
	.extreme__text
		+fh
		font-size: 19px
		color: #FFF 
		-webkit-font-smoothing: antialiased
	.extreme__arrows
		position: absolute
		top: 10px
		left: 50%
		margin-left: -19px
		+s(extreme-arrs)
		z-index: 10
	.extreme__item_1
		height: 640px
		overflow: hidden
		z-index: 2 
		.l-center
			top: 0
			height: 640px
			+clr
		.extreme__logo
			+s(extreme-logo)
		.extreme__title
			margin-top: -10px
			+s(extreme-title-item-1)
		.extreme__pic
			top: 0
			left: 0
			width: 640px
			height: 640px
			background: url(../img/extreme-pic-item-1.png) 
		.extreme__content
			top: 0
			left: 640px
			width: 340px
			padding-top: 10px
			margin-left: -40px
	.extreme__item_2
		margin: 640px 0 570px 
		+background-image(radial-gradient(570px 570px, #ce1517, #570910))
		z-index: 6 
		.l-center
			height: 570px
		.extreme__pic	
			top: -30px
			right: -60px
			width: 636px
			height: 693px
			background: url(../img/extreme-pic-item-2.png) 
		.extreme__content
			top: 100px
			left: 20px
			width: 420px
		.extreme__title
			+s(extreme-title-item-2)
	.extreme__item_3
		top: 154px + 695px
		height: 0
		z-index: 2
		.l-center
			bottom: 120px
			height: 570px
		.extreme__pic	
			top: -50px
			left: -60px
			width: 625px
			height: 695px
			background: url(../img/extreme-pic-item-3.png) 
		.extreme__content
			top: 120px
			right: 20px
			width: 360px
		.extreme__title
			+s(extreme-title-item-3)
	.extreme__item_4
		margin-bottom: 700px
		+background-image(radial-gradient(570px 570px, #86125b, #44052d))
		.extreme__pic	
			top: -30px
			right: -60px
			width: 600px
			height: 664px
			background: url(../img/extreme-pic-item-4.png) 
		.extreme__content
			top: 120px
			left: 20px
			width: 420px
		.extreme__title
			+s(extreme-title-item-4)
	.extreme__item_5
		height: 0
		bottom: 0
		background: url(../img/dark-bg.jpg) 0 0
		background-attachment: fixed 
		background-size: auto 100% 
		overflow: hidden
		z-index: 2
		.l-center
			bottom: 0
			height: 700px
		.extreme__text
			padding: 60px 0 40px
			font-size: 26px
			text-align: center
	.extreme__video
		width: 640px
		margin: 0 auto
		border: 3px solid #1b0d07
		box-shadow: 10px 15px 16px 0 rgba(0,0,0,.56)
		iframe
			display: block
	.extreme__item_fixed
		position: fixed
		left: 0
		right: 0
		.l-center
			position: absolute
			left: 0
			right: 0







































































































































